<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Azuro.CRM.SharePointIntegration.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Azuro.CRM.SharePointIntegration.Properties.Settings>
            <setting name="Azuro_CRM_SharePointIntegration_ListstWS_Lists"
                serializeAs="String">
                <value>http://zeus:1901/_vti_bin/lists.asmx</value>
            </setting>
            <setting name="Azuro_CRM_SharePointIntegration_ViewsWS_Views"
                serializeAs="String">
                <value>http://zeus:1901/_vti_bin/views.asmx</value>
            </setting>
        </Azuro.CRM.SharePointIntegration.Properties.Settings>
    </applicationSettings>
</configuration>