<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--<configSections>
    <section name="Azuro.Crm.Integration" type="Azuro.Crm.Integration.CrmConfigurationSectionHandler, Azuro.Crm.Integration.Common" />
  </configSections>-->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="OrganizationId" value="2E95D848-DCB6-E011-9089-0800273CC729" />
    <add key="OrganizationUrl" value="http://tirones.azurodev.local/iServe2015" />
    <!--<add key="OrganizationId" value="CDA8947B-DDA5-E111-9905-00155D80010D" />-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <!--<Azuro.Crm.Integration>
    <IntegrationType>Azuro.Crm.Integration.CrmHelper, Azuro.Crm.Integration.v2011</IntegrationType>
    --><!--<DiscoveryServiceUrl>http://senate.azurodev.local:4444/XRMServices/2011/Discovery.svc</DiscoveryServiceUrl>--><!--
    <DiscoveryServiceUrl>http://tirones.azurodev.local/XRMServices/2011/Discovery.svc</DiscoveryServiceUrl>
    <AuthenticationType>IFD</AuthenticationType>
    <UserName>azurodev\-admin-johannu</UserName>
    <Password>B3Th3Ch@nge</Password>
  </Azuro.Crm.Integration>-->
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>