<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="Azuro.Kaseya.Intergration" type="Azuro.Crm.KaseyaIntegration.KaseyaConfigurationSectionHandler, Azuro.Crm.KaseyaIntegration.v2011" />
		<section name="Azuro.MSMQ" type="Azuro.MSMQ.MSMQConfigurationSectionHandler, Azuro.MSMQ" />
		<section name="Azuro.Caching" type="Azuro.Caching.CacheConfigSectionHandler, Azuro.Common" />
		<section name="Azuro.Logging" type="Azuro.Logging.LogSinkConfigSectionHandler, Azuro.Logging" />
		<section name="Azuro.Crm.Integration" type="Azuro.Crm.Integration.CrmConfigurationSectionHandler, Azuro.Crm.Integration.Common" />
	</configSections>
	<!-- Configure msmq -->
	<Azuro.MSMQ>
		<Queue queueName=".\private$\KaseyaTicketTriggerQueue" messageType="Azuro.Crm.KaseyaTicketProcessor.KaseyaTicketTriggerEventMessage, Azuro.Crm.KaseyaTicketProcessor" handlerType="Azuro.Crm.KaseyaTicketProcessor.KaseyaTicketTriggerEventMessageHandler, Azuro.Crm.KaseyaTicketProcessor" />
	</Azuro.MSMQ>

	<Azuro.Crm.Integration>
		<IntegrationType>Azuro.Crm.Integration.CrmHelper, Azuro.Crm.Integration.v2011</IntegrationType>
		<DiscoveryServiceUrl>https://crm-dev.azuro.co.za/XRMServices/2011/Discovery.svc</DiscoveryServiceUrl>
		<AuthenticationType>IFD</AuthenticationType>
		<UserName>azurodev\-admin-JohannU</UserName>
		<Password>P@nd@r!a</Password>
	</Azuro.Crm.Integration>

	<Azuro.Kaseya.Intergration>
		<Integeration_Name>Azuro.Crm.KaseyaIntegration.KaseyaHelper, Azuro.Crm.KaseyaIntegration.v2011</Integeration_Name>
		<Kaseya_ws_host>http://kaseya.azurodev.local/vsaws/kaseyaws.asmx</Kaseya_ws_host>
		<Kaseya_ws_module></Kaseya_ws_module>
		<Kaseya_username>admin</Kaseya_username>
		<Kaseya_password>P@nd@r!a</Kaseya_password>
		<Kaseya_hash_algorithm>SHA-1</Kaseya_hash_algorithm>
		<kaseya_crm_contact>Thapelo Test</kaseya_crm_contact>
		<Kaseya_crm_account_name>Account Test One</Kaseya_crm_account_name>
		<Kaseya_crm_organisation_id>129D15E7-8985-E211-8243-00155D004301</Kaseya_crm_organisation_id>
		<Kaseya_Crm_Team>DevKaseya</Kaseya_Crm_Team>
		<Kaseya_import_timer>120</Kaseya_import_timer>
	</Azuro.Kaseya.Intergration>

	<!-- Configure logging -->
	<Azuro.Logging logAllMessages="true">
		<sink name="ConsoleLog" type="Azuro.Logging.ConsoleLogSink, Azuro.Logging" />
		<sink name="EventLog" type="Azuro.Logging.EventlogSink, Azuro.Logging" />
		<sink name="FileLog" type="Azuro.Logging.FileLogSink, Azuro.Logging">
			<extensions key="Path" value="C:\Temp\" />
			<extensions key="Filename" value="AzuroCrmKaseyaIntegration_{%yyyyMMdd%}.log" />
		</sink>
		<categories>
			<category name="Debug">
				<destinations>
					<destination name="Azuro Crm SMS Debug" sink="ConsoleLog" />
					<destination name="Azuro Crm SMS Debug" sink="FileLog" />
				</destinations>
			</category>
			<category name="Error">
				<destinations>
					<destination name="Azuro Crm SMS Error" sink="ConsoleLog" />
					<destination name="Azuro Crm SMS Error" sink="EventLog" />
					<destination name="Azuro Crm SMS Error" sink="FileLog" />
				</destinations>
			</category>
			<category name="Fatal">
				<destinations>
					<destination name="Azuro Crm SMS Fatal" sink="ConsoleLog" />
					<destination name="Azuro Crm SMS Fatal" sink="EventLog" />
					<destination name="Azuro Crm SMS Fatal" sink="FileLog" />
				</destinations>
			</category>
			<category name="Info">
				<destinations>
					<destination name="Azuro Crm SMS Info" sink="ConsoleLog" />
					<destination name="Azuro Crm SMS Info" sink="EventLog" />
					<destination name="Azuro Crm SMS Info" sink="FileLog" />
				</destinations>
			</category>
			<category name="Write">
				<destinations>
					<destination name="Azuro Crm SMS Write" sink="ConsoleLog" />
					<destination name="Azuro Crm SMS Write" sink="EventLog" />
					<destination name="Azuro Crm SMS Write" sink="FileLog" />
				</destinations>
			</category>
			<category name="Trace">
				<destinations>
					<destination name="Azuro Crm SMS Trace" sink="ConsoleLog" />
					<destination name="Azuro Crm SMS Trace" sink="FileLog" />
				</destinations>
			</category>
			<category name="Warn">
				<destinations>
					<destination name="Azuro Crm SMS Warn" sink="ConsoleLog" />
					<destination name="Azuro Crm SMS Warn" sink="EventLog" />
					<destination name="Azuro Crm SMS Warn" sink="FileLog" />
				</destinations>
			</category>
		</categories>
	</Azuro.Logging>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Azuro.Common" publicKeyToken="71e289130063d638" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.6387.16817" newVersion="1.0.6387.16817" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Xrm.Sdk" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
