<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="Azuro.Logging" type="Azuro.Logging.LogSinkConfigSectionHandler, Azuro.Logging, Version=1.2.1.22697, Culture=neutral, PublicKeyToken=3cb9077c0bf62827" />
  </configSections>
  <appSettings>
    <!--<add key="QueueName" value="FormatName:DIRECT=OS:444jhbcrmbe01\private$\NAbleEventQueue"/>-->
    <add key="QueueName" value=".\private$\NAbleEventQueue" />
    <add key="LogFilePath" value="I:\Development\Azuro\Azuro.Crm\Logs" />
  </appSettings>
  <Azuro.Logging logAllMessages="true">
    <sink name="EventLog" type="Azuro.Logging.EventlogSink, Azuro.Logging, Version=1.2.1.22697, Culture=neutral, PublicKeyToken=3cb9077c0bf62827" />
    <sink name="FileLog" type="Azuro.Logging.FileLogSink, Azuro.Logging, Version=1.2.1.22697, Culture=neutral, PublicKeyToken=3cb9077c0bf62827">
      <extensions key="Path" value="C:\inetpub\wwwroot\NAbleReceiver\Logs\" />
      <extensions key="Filename" value="NAbleIntegration_{%yyyyMMdd%}.log" />
    </sink>
    <categories>
      <category name="Debug">
        <destinations>
          <destination name="NAble CRM Integration Debug" sink="FileLog" />
        </destinations>
      </category>
      <category name="Error">
        <destinations>
          <destination name="NAble CRM Integration Error" sink="FileLog" />
        </destinations>
      </category>
      <category name="Fatal">
        <destinations>
          <destination name="NAble CRM Integration Fatal" sink="FileLog" />
        </destinations>
      </category>
      <category name="Info">
        <destinations>
          <destination name="NAble CRM Integration Info" sink="FileLog" />
        </destinations>
      </category>
      <category name="Write">
        <destinations>
          <destination name="NAble CRM Integration Write" sink="FileLog" />
        </destinations>
      </category>
      <category name="Trace">
        <destinations>
          <destination name="NAble CRM Integration Trace" sink="FileLog" />
        </destinations>
      </category>
      <category name="Warn">
        <destinations>
          <destination name="NAble CRM Integration Warn" sink="FileLog" />
        </destinations>
      </category>
    </categories>
  </Azuro.Logging>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <!--<pages validateRequest="false"/>-->
    <httpRuntime targetFramework="4.5" />
    <!-- requestValidationMode="2.0" maxRequestLength="150000" maxQueryStringLength="150000"/> -->
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>