<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="Azuro.MSMQ" type="Azuro.MSMQ.MSMQConfigurationSectionHandler, Azuro.MSMQ" />
		<section name="Azuro.Sms.Clickatell" type="Azuro.Sms.Clickatell.ClickatellClientConfigurationSectionHandler, Azuro.Sms.Clickatell" />
		<section name="Azuro.Sms" type="Azuro.Sms.Common.SmsConfigurationSectionHandler, Azuro.Sms.Common" />
		<!--<section name="Azuro.Crm.Integration" type="Azuro.Crm.Integration.CrmConfigurationSectionHandler, Azuro.Crm.Integration.Common, Version=1.0.5157.22799, Culture=neutral, PublicKeyToken=beb2e69ebc25a767" />-->
		<section name="Azuro.Crm.Integration" type="Azuro.Crm.Integration.CrmConfigurationSectionHandler, Azuro.Crm.Integration.Common" />
		<!--<section name="Azuro.Crm.Nable" type="Azuro.Crm.Integration.Nable.NableConfigurationSectionHandler, Azuro.Crm.Integration.Nable" />-->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>

	<!-- Configure msmq -->
	<Azuro.MSMQ>
		<!--<Queue queueName=".\private$\SmsTriggerQueue" messageType="Azuro.Crm.SmsMessages.SmsTriggerEventMessage, Azuro.Crm.SmsMessages, Version=1.0.5157.22826, Culture=neutral, PublicKeyToken=beb2e69ebc25a767" handlerType="Azuro.Crm.SmsMessageHandlers.SmsTriggerEventHandler, Azuro.Crm.SmsMessageHandlers"/>
		<Queue queueName=".\private$\SmsResponseQueue" messageType="Azuro.Crm.SmsMessages.SmsResponseMessage, Azuro.Crm.SmsMessages, Version=1.0.5157.22826, Culture=neutral, PublicKeyToken=beb2e69ebc25a767" handlerType="Azuro.Crm.SmsMessageHandlers.SmsResponseEventHandler, Azuro.Crm.SmsMessageHandlers"/>-->
		<Queue queueName=".\private$\SmsTriggerQueue" messageType="Azuro.Crm.SmsMessages.SmsTriggerEventMessage, Azuro.Crm.SmsMessages" handlerType="Azuro.Crm.SmsMessageHandlers.SmsTriggerEventHandler, Azuro.Crm.SmsMessageHandlers" />
		<Queue queueName=".\private$\SmsResponseQueue" messageType="Azuro.Crm.SmsMessages.SmsResponseMessage, Azuro.Crm.SmsMessages" handlerType="Azuro.Crm.SmsMessageHandlers.SmsResponseEventHandler, Azuro.Crm.SmsMessageHandlers" />
		<!--<Queue queueName=".\private$\NAbleEventQueue" messageType="Azuro.Crm.Integration.Nable.Entities.Notification, Azuro.Crm.Integration.Nable.Entities" handlerType="Azuro.Crm.Integration.Nable.NotificationMessageHandler, Azuro.Crm.Integration.Nable" />-->
	</Azuro.MSMQ>

	<Azuro.Sms>
		<SmsProvider name="Clickatell" type="Azuro.Sms.Clickatell.ClickatellClient, Azuro.Sms.Clickatell" />
	</Azuro.Sms>

	<Azuro.Sms.Clickatell>
		<ApiId>3364739</ApiId>
		<User>azurosms</User>
		<Password>Azur0Sms</Password>
		<EnableCallback>3</EnableCallback>
	</Azuro.Sms.Clickatell>

	<!--<Azuro.Crm.Nable organizationId="E35AADDA-4D50-E311-93F0-005056A7079C" />-->

	<Azuro.Crm.Integration>
		<!--<IntegrationType>Azuro.Crm.Integration.CrmHelper, Azuro.Crm.Integration.v2011, Version=1.0.5157.22818, Culture=neutral, PublicKeyToken=beb2e69ebc25a767</IntegrationType>-->
		<IntegrationType>Azuro.Crm.Integration.CrmHelper, Azuro.Crm.Integration.v2011</IntegrationType>
		<DiscoveryServiceUrl>http://conclave.azurodev.local/XRMServices/2011/Discovery.svc</DiscoveryServiceUrl>
		<AuthenticationType>IFD</AuthenticationType>
		<UserName>azurodev\-admin-JohannU</UserName>
		<Password>B3Th3Ch@nge</Password>
	</Azuro.Crm.Integration>

	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="mssqllocaldb" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<connectionStrings>
		<add name="AzuroSMSEntities" connectionString="metadata=res://*/AzuroSMS.csdl|res://*/AzuroSMS.ssdl|res://*/AzuroSMS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=medivh;initial catalog=AzuroSMS;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>

	<!-- Configure exceptions -->
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Azuro.Common" publicKeyToken="71e289130063d638" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.0.6387.16817" newVersion="1.0.6387.16817" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
