<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!--, Version=5.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35 -->
		<section name="Azuro.Sms.Clickatell" type="Azuro.Sms.Clickatell.ClickatellClientConfigurationSectionHandler, Azuro.Sms.Clickatell" />
		<!--<section name="Azuro.Crm.Integration" type="Azuro.Crm.Integration.CrmConfigurationSectionHandler, Azuro.Crm.Integration.Common" />-->
		<!--<section name="Azuro.Data" type="Azuro.Data.DataAccessConfigSectionHandler, Azuro.Data" />
    <section name="Azuro.Caching" type="Azuro.Caching.CacheConfigSectionHandler, Azuro.Common" />-->

		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		
	<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
	<Azuro.Sms.Clickatell>
		<ApiId>3364739</ApiId>
		<User>azurosms</User>
		<Password>Azur0Sms</Password>
	</Azuro.Sms.Clickatell>
	<appSettings>
		<add key="OrganizationId" value="8E4C8170-28C1-E611-80C9-005056AF4A0F" />
		<add key="SmsTriggerQueueName" value="FormatName:DIRECT=OS:WIBCRMB.internal.com.na\private$\SmsTriggerQueue" />
	</appSettings>
	
	<!--<Azuro.Crm.Integration>
		<IntegrationType>Azuro.Crm.Integration.CrmHelper, Azuro.Crm.Integration.v2011, Version=1.0.0.0, Culture=neutral, PublicKeyToken=beb2e69ebc25a767</IntegrationType>
		-->
	<!--<DiscoveryServiceUrl>http://senate.azurodev.local:4444/XRMServices/2011/Discovery.svc</DiscoveryServiceUrl>-->
	<!--
		<DiscoveryServiceUrl>https://crm-dev.azuro.co.za/XRMServices/2011/Discovery.svc</DiscoveryServiceUrl>
		<AuthenticationType>IFD</AuthenticationType>
		<UserName>azurodev\-admin-johannu</UserName>
		<Password>B3Th3Ch@nge</Password>
	</Azuro.Crm.Integration>-->
	<!--<Azuro.Data>
    <DataObject name="Azuro.Data" assembly="Azuro.Data.Sql" type="Azuro.Data.Sql.SqlDataAccess" connectionString="Data Source=tanari\development;Initial Catalog=AzuroSMS;Integrated Authentication=SSPI;MultipleActiveResultSets=True;" />
  </Azuro.Data>-->
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="ServerEISoapBinding" />
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://mso.triple4cloud.com/dms/services/ServerEI" binding="basicHttpBinding" bindingConfiguration="ServerEISoapBinding" contract="Nable.ServerEI" name="ServerEI" />
		</client>
	</system.serviceModel>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Azuro.Common" publicKeyToken="71e289130063d638" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.0.6205.40054" newVersion="1.0.6205.40054" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Xrm.Sdk" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="mssqllocaldb" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<connectionStrings>
		<add name="AzuroSMSEntities" connectionString="metadata=res://*/AzuroSMS.csdl|res://*/AzuroSMS.ssdl|res://*/AzuroSMS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=medivh;initial catalog=AzuroSMS;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>

</configuration>
